In [2]:
# First of all import the required libraries 
# Data and math  
import pandas as pd
import numpy as np 

# Visualisation 
import matplotlib.pyplot as plt  # für Matplotlib
import seaborn as sns            # für Seaborn
import plotly.express as px      # für Plotly Express
#%matplotlib inline

# Import System Libraries 
import warnings
import os
# Ignor all warnings, because there is a front problem with mach 
warnings.filterwarnings("ignore")

In [59]:
# Retrieving data 

# Aktuellen Pfad ausgeben
data_path = os.getcwd() + '/data/'

# Initialize empty list for all data frames 
dataframes = []
column_names_all =[]
print(data_path)
# Iteriere durch alle Dateien im Data-Verzeichnis
for filename in os.listdir(data_path):
    # Überprüfe, ob die Datei eine .csv Datei ist
    if filename.endswith('.csv'):
        # Erstelle den vollständigen Pfad zur Datei
        file_path = os.path.join(data_path, filename)
        
        # Extrahiere die letzten 4 Ziffern des Dateinamens (vor der Erweiterung)
        last_four_digits = filename[-8:-4]  # Annahme: Vor der Dateiendung sind immer 4 Ziffern
        
        # Make the year variable 
        year = int(last_four_digits)

        # Lese die .csv Datei in einen DataFrame
        df = pd.read_csv(file_path, encoding='latin1', sep=';')
        #print('CSV data:', df.head())
        #display(df.head())
        #display(df.info())      
        #display(df.describe())
        column_names = df.columns.tolist()
        print("Column names in df of year:", year, "\n List:", column_names)
        column_names_all.append(column_names)
        print(df.shape)
        # make an additional year column for each df 
        df['YEAR'] = year

        # Speichere den DataFrame unter dem gewünschten Namen
        globals()[f'df_french_{last_four_digits}'] = df
        
        # Add df to list 
        dataframes.append(df)

        # Optional: Ausgabe, um zu bestätigen, dass die Datei geladen wurde
        #print(f'Datei {filename} geladen und in df_french_{last_four_digits} gespeichert.')

print(column_names_all)

/Users/tillo/DataScienceRepo/Project_DS_CO2/Data/
Column names in df of year: 2002
 List: ['GROUPE', 'MARQUE', 'MODELE VERSION', 'CNIT', 'Unnamed: 4', 'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT', 'SEGMENT']
(5183, 17)
Column names in df of year: 2009
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']
(19477, 17)
Column names in df of year: 2005
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17']
(7980, 18)
Column names in df of year: 2008
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS( )', 'TYPE 2', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']
(15375, 17)
Column names in df of year: 2007
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']
(15114, 17)
Column names in df of year: 2010
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']
(25319, 17)
Column names in df of year: 2006
 List: ['ALFA-ROMEO', '147 3P 1.6L TS (105ch)', 'MAL1301JZ595', '937AXA1A00H', 'ES', '7', '77.0', 'M 5', '11.3', '6.4', '8.2', '196', 'Janvier 2006']
(8258, 13)
Column names in df of year: 2012
 List: ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc', 'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'date_maj', 'Carrosserie', 'gamme']
(40052, 26)
Column names in df of year: 2011
 List: ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'champ_v9', 'date_maj']
(37816, 16)
Column names in df of year: 2001
 List: ['MARQUES', 'MODELE', 'TYP. MINES', 'CNIT', 'CARB', 'CV', 'PUISS.', 'BV', 'Urbain', 'Ex.Urb', 'Mixte', 'CO2', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']
(5919, 17)
Column names in df of year: 2003
 List: ['MARQUE', 'MODELE VERSION', 'CNIT', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT']
(5398, 13)
[['GROUPE', 'MARQUE', 'MODELE VERSION', 'CNIT', 'Unnamed: 4', 'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT', 'SEGMENT'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS( )', 'TYPE 2', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], ['ALFA-ROMEO', '147 3P 1.6L TS (105ch)', 'MAL1301JZ595', '937AXA1A00H', 'ES', '7', '77.0', 'M 5', '11.3', '6.4', '8.2', '196', 'Janvier 2006'], ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc', 'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'date_maj', 'Carrosserie', 'gamme'], ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'champ_v9', 'date_maj'], ['MARQUES', 'MODELE', 'TYP. MINES', 'CNIT', 'CARB', 'CV', 'PUISS.', 'BV', 'Urbain', 'Ex.Urb', 'Mixte', 'CO2', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], ['MARQUE', 'MODELE VERSION', 'CNIT', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT']]

In [60]:
# In this step I will delete all columns in all dataframes that are empty 


# Iterate through each DataFrame in the list
for i, df in enumerate(dataframes):
    # Identify columns that contain only NaN values
    nan_columns = df.columns[df.isna().all()].tolist()
    
    # Drop the columns with only NaN values
    df.drop(columns=nan_columns, inplace=True)

    # Output the list of columns with only NaN values
    print(f"Columns with only NaN values in DataFrame {i + 1}:")
    print(nan_columns)
    print()  # Add a blank line for better readability

Columns with only NaN values in DataFrame 1:
['GROUPE', 'IMMAT', 'SEGMENT']

Columns with only NaN values in DataFrame 2:
['Unnamed: 15', 'Unnamed: 16']

Columns with only NaN values in DataFrame 3:
['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']

Columns with only NaN values in DataFrame 4:
['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

Columns with only NaN values in DataFrame 5:
['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

Columns with only NaN values in DataFrame 6:
['Unnamed: 15', 'Unnamed: 16']

Columns with only NaN values in DataFrame 7:
[]

Columns with only NaN values in DataFrame 8:
['date_maj']

Columns with only NaN values in DataFrame 9:
[]

Columns with only NaN values in DataFrame 10:
['Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16']

Columns with only NaN values in DataFrame 11:
[]

In [62]:


# Print out the shape and column names of all DataFrames at the end
print("Final shapes and column names of all DataFrames:")
for i, df in enumerate(dataframes):
    print(f"DataFrame {i + 1}:")
    print(f"Shape: {df.shape}")
    print(f"Column names: {df.columns.tolist()}\n")

Final shapes and column names of all DataFrames:
DataFrame 1:
Shape: (5183, 15)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'Unnamed: 4', 'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'YEAR']

DataFrame 2:
Shape: (19477, 16)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'YEAR']

DataFrame 3:
Shape: (7980, 15)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'ENERGIE', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'YEAR']

DataFrame 4:
Shape: (15375, 15)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS( )', 'TYPE 2', 'YEAR']

DataFrame 5:
Shape: (15114, 13)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'YEAR']

DataFrame 6:
Shape: (25319, 16)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'YEAR']

DataFrame 7:
Shape: (8258, 14)
Column names: ['ALFA-ROMEO', '147 3P 1.6L TS (105ch)', 'MAL1301JZ595', '937AXA1A00H', 'ES', '7', '77.0', 'M 5', '11.3', '6.4', '8.2', '196', 'Janvier 2006', 'YEAR']

DataFrame 8:
Shape: (40052, 26)
Column names: ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc', 'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'Carrosserie', 'gamme', 'YEAR']

DataFrame 9:
Shape: (37816, 17)
Column names: ['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'champ_v9', 'date_maj', 'YEAR']

DataFrame 10:
Shape: (5919, 13)
Column names: ['MARQUES', 'MODELE', 'TYP. MINES', 'CNIT', 'CARB', 'CV', 'PUISS.', 'BV', 'Urbain', 'Ex.Urb', 'Mixte', 'CO2', 'YEAR']

DataFrame 11:
Shape: (5398, 14)
Column names: ['MARQUE', 'MODELE VERSION', 'CNIT', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT', 'YEAR']

In [ ]:
# The next steps 
"""

relabeling the column names as below / like the save ones 

mach die einzel data frames wieder und schau dir explizit die problematischen an 

versuche das ganze in einen df zu quetschen 

fang an zu plotten 

ziel ist co2 ausstoß, egal wie der gemessen wird 

versuche die technischen spezifikations zu verstehen 




"""

In [ ]:

# Aktuellen Pfad ausgeben
data_path = os.getcwd() + '/Data/'

# Initialize empty list for all data frames 
dataframes = []
column_names_all =[]
print(data_path)
# Iteriere durch alle Dateien im Data-Verzeichnis
for filename in os.listdir(data_path):
    # Überprüfe, ob die Datei eine .csv Datei ist
    if filename.endswith('.csv'):
        # Erstelle den vollständigen Pfad zur Datei
        file_path = os.path.join(data_path, filename)
        
        # Extrahiere die letzten 4 Ziffern des Dateinamens (vor der Erweiterung)
        last_four_digits = filename[-8:-4]  # Annahme: Vor der Dateiendung sind immer 4 Ziffern
        
        # Make the year variable 
        year = int(last_four_digits)

        # Lese die .csv Datei in einen DataFrame
        df = pd.read_csv(file_path, encoding='latin1', sep=';')
        #print('CSV data:', df.head())
        #display(df.head())
        #display(df.info())      
        #display(df.describe())
        column_names = df.columns.tolist()
        print("Column names in df of year:", year, "\n List:", column_names)
        column_names_all.append(column_names)
        print(df.shape)
        # make an additional year column for each df 
        df['YEAR'] = year

        # Speichere den DataFrame unter dem gewünschten Namen
        globals()[f'df_french_{last_four_digits}'] = df
        
        # Add df to list 
        dataframes.append(df)

        # Optional: Ausgabe, um zu bestätigen, dass die Datei geladen wurde
        #print(f'Datei {filename} geladen und in df_french_{last_four_digits} gespeichert.')

print(column_names_all)

In [51]:
# Working with the columns 


# Beispielhafte Zuordnung von ähnlichen Spaltennamen zu gemeinsamen Bezeichnungen
column_mapping = {
    'MARQUE': ['MARQUE', 'MARQUES'],
    'MODELE_VERSION': ['MODELE VERSION', 'MODELE'],
    'CNIT': ['CNIT', 'cnit'],
    #'PUISSANCE': ['puissance fiscale', 'puissance reelle', 'puiss_admin_98', 'puiss_max', 'PUISS.'],
    'BV': ['bv', 'BV'],
    'URBAIN': ['urb', 'Urbain'],
    'EX_URBAIN': ['ex-urb', 'Ex.Urb'],
    'MIXTE': ['mixte', 'Mixte'],
    'CO2': ['CO2', 'co2'],
    'ENERGIE': ['ENERGIE', 'carburant', 'ETIQUETTE ENERGIE'],
    'YEAR': ['YEAR'],
    #'UNNAMED': ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'],
    #'CONSUMPTION': ['conso_urb', 'conso_exurb', 'conso_mixte'],
    'CHAMP_V9': ['champ_v9'],
    'DATE_MAJ': ['date_maj'],
    'CARROSSERIE': ['Carrosserie'],
    #'TYPE': ['typ_cbr', 'TYP. MINES', 'TYPE 2'],
    # Füge hier weitere Zuordnungen hinzu, wie benötigt
}

# Erstellen eines Dictionaries für die Spaltennamen
flattened_dict = {}

for key, values in column_mapping.items():
    for value in values:
        flattened_dict[value] = key

# Ausgabe des Dictionaries
print(flattened_dict)

# Iteriere durch alle DataFrames und benenne die Spalten um
for df in dataframes:
    # Umbenennen der Spalten gemäß der Zuordnung
    df.rename(columns=flattened_dict, inplace=True)

# Optional: Ausgabe der neuen Spaltennamen für jeden DataFrame
for i, df in enumerate(dataframes):
    print(f"Neue Spaltennamen für DataFrame {i + 1}: {df.columns}\n")

{'MARQUE': 'MARQUE', 'MARQUES': 'MARQUE', 'MODELE VERSION': 'MODELE_VERSION', 'MODELE': 'MODELE_VERSION', 'CNIT': 'CNIT', 'cnit': 'CNIT', 'bv': 'BV', 'BV': 'BV', 'urb': 'URBAIN', 'Urbain': 'URBAIN', 'ex-urb': 'EX_URBAIN', 'Ex.Urb': 'EX_URBAIN', 'mixte': 'MIXTE', 'Mixte': 'MIXTE', 'CO2': 'CO2', 'co2': 'CO2', 'ENERGIE': 'ENERGIE', 'carburant': 'ENERGIE', 'ETIQUETTE ENERGIE': 'ENERGIE', 'YEAR': 'YEAR', 'champ_v9': 'CHAMP_V9', 'date_maj': 'DATE_MAJ', 'Carrosserie': 'CARROSSERIE'}
Neue Spaltennamen für DataFrame 1: Index(['GROUPE', 'MARQUE', 'MODELE_VERSION', 'CNIT', 'Unnamed: 4',
       'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'IMMAT', 'SEGMENT', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 2: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'ENERGIE', 'ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 3: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'ENERGIE', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 4: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'ENERGIE', 'ENERGIE', 'BONUS(-)/MALUS( )', 'TYPE 2', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 5: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'ENERGIE', 'ENERGIE', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 6: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'puissance fiscale',
       'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2',
       'ENERGIE', 'ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 7: Index(['ALFA-ROMEO', '147 3P 1.6L TS (105ch)', 'MAL1301JZ595', '937AXA1A00H',
       'ES', '7', '77.0', 'M 5', '11.3', '6.4', '8.2', '196', 'Janvier 2006',
       'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 8: Index(['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'CNIT', 'tvv', 'typ_cbr',
       'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp',
       'conso_urb', 'conso_exurb', 'conso_mixte', 'CO2', 'co_typ_1', 'hc',
       'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max',
       'CHAMP_V9', 'DATE_MAJ', 'CARROSSERIE', 'gamme', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 9: Index(['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'CNIT', 'tvv', 'typ_cbr',
       'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb',
       'conso_exurb', 'conso_mixte', 'CO2', 'CHAMP_V9', 'DATE_MAJ', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 10: Index(['MARQUE', 'MODELE_VERSION', 'TYP. MINES', 'CNIT', 'CARB', 'CV',
       'PUISS.', 'BV', 'URBAIN', 'EX_URBAIN', 'MIXTE', 'CO2', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'YEAR'],
      dtype='object')

Neue Spaltennamen für DataFrame 11: Index(['MARQUE', 'MODELE_VERSION', 'CNIT', 'MINE', 'ENERGIE',
       'puissance fiscale', 'puissance reelle', 'BV', 'URBAIN', 'EX_URBAIN',
       'MIXTE', 'CO2', 'IMMAT', 'YEAR'],
      dtype='object')

In [45]:
# Working with one df only 
   
# Kombiniere die DataFrames
df_all = pd.concat(dataframes, ignore_index=True, sort=False, join='outer')

# Optional: Ausgabe der neuen DataFrame-Form und der ersten paar Zeilen
print(df_all.shape)
print(df_all.tail())

# Output all column names in df_all
column_names = df_all.columns.tolist()
print("Column names in df_all:")
print(column_names)

# If you want to print each column name on a new line
print("Column names in df_all:")
for column in column_names:
    print(column)

(185891, 79)
        GROUPE MARQUE      MODELE VERSION          CNIT Unnamed: 4 Unnamed: 5  \
185886     NaN  VOLVO  XC90 2.5LT BVA 7PL  MVV4914S3049        NaN        NaN
185887     NaN  VOLVO         XC90 D5 BVA  MVV8714SX062        NaN        NaN
185888     NaN  VOLVO     XC90 D5 BVA 7PL  MVV8714SZ064        NaN        NaN
185889     NaN  VOLVO         XC90 T6 BVA  MVV4914S5051        NaN        NaN
185890     NaN  VOLVO     XC90 T6 BVA 7PL  MVV4914S6052        NaN        NaN

            MINE ENERGIE puissance fiscale puissance reelle  ... MARQUES  \
185886  CZ59G700      ES                15            154.0  ...     NaN
185887  CM793700      GO                11            120.0  ...     NaN
185888  CZ793700      GO                11            120.0  ...     NaN
185889  CM91G800      ES                20            200.0  ...     NaN
185890  CZ91G800      ES                20            200.0  ...     NaN

       MODELE TYP. MINES CARB   CV PUISS.   BV  Urbain Ex.Urb Mixte
185886    NaN        NaN  NaN  NaN    NaN  NaN     NaN    NaN   NaN
185887    NaN        NaN  NaN  NaN    NaN  NaN     NaN    NaN   NaN
185888    NaN        NaN  NaN  NaN    NaN  NaN     NaN    NaN   NaN
185889    NaN        NaN  NaN  NaN    NaN  NaN     NaN    NaN   NaN
185890    NaN        NaN  NaN  NaN    NaN  NaN     NaN    NaN   NaN

[5 rows x 79 columns]
Column names in df_all:
['GROUPE', 'MARQUE', 'MODELE VERSION', 'CNIT', 'Unnamed: 4', 'Unnamed: 5', 'MINE', 'ENERGIE', 'puissance fiscale', 'puissance reelle', 'bv', 'urb', 'ex-urb', 'mixte', 'CO2', 'IMMAT', 'SEGMENT', 'YEAR', 'carburant', 'ETIQUETTE ENERGIE', 'BONUS(-)/MALUS(+)', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 17', 'BONUS(-)/MALUS( )', 'TYPE 2', 'ALFA-ROMEO', '147 3P 1.6L TS (105ch)', 'MAL1301JZ595', '937AXA1A00H', 'ES', '7', '77.0', 'M 5', '11.3', '6.4', '8.2', '196', 'Janvier 2006', 'lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cnit', 'tvv', 'typ_cbr', 'hybride', 'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb', 'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'hc', 'nox', 'hcnox', 'ptcl', 'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'date_maj', 'Carrosserie', 'gamme', 'MARQUES', 'MODELE', 'TYP. MINES', 'CARB', 'CV', 'PUISS.', 'BV', 'Urbain', 'Ex.Urb', 'Mixte']
Column names in df_all:
GROUPE
MARQUE
MODELE VERSION
CNIT
Unnamed: 4
Unnamed: 5
MINE
ENERGIE
puissance fiscale
puissance reelle
bv
urb
ex-urb
mixte
CO2
IMMAT
SEGMENT
YEAR
carburant
ETIQUETTE ENERGIE
BONUS(-)/MALUS(+)
Unnamed: 13
Unnamed: 14
Unnamed: 15
Unnamed: 16
Unnamed: 11
Unnamed: 12
Unnamed: 17
BONUS(-)/MALUS( )
TYPE 2
ALFA-ROMEO
147 3P 1.6L TS (105ch)
MAL1301JZ595
937AXA1A00H
ES
7
77.0
M 5
11.3
6.4
8.2
196
Janvier 2006
lib_mrq
lib_mod_doss
lib_mod
dscom
cnit
tvv
typ_cbr
hybride
puiss_admin_98
puiss_max
typ_boite_nb_rapp
conso_urb
conso_exurb
conso_mixte
co2
co_typ_1
hc
nox
hcnox
ptcl
masse_ordma_min
masse_ordma_max
champ_v9
date_maj
Carrosserie
gamme
MARQUES
MODELE
TYP. MINES
CARB
CV
PUISS.
BV
Urbain
Ex.Urb
Mixte

In [18]:
# Finding out what kind of energy systems the different dfs have 

display(df_french_2002.head())
display(df_french_2002.info())      
display(df_french_2002.describe())

unique_energie = df_french_2002['ENERGIE'].unique()
print(unique_energie)

,GROUPE,MARQUE,MODELE VERSION,CNIT,Unnamed: 4,Unnamed: 5,MINE,ENERGIE,puissance fiscale,puissance reelle,bv,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT
0,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JL265,1301JL265,1301J265,937AXA1A00,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN
1,NaN,ALFA-ROMEO,147 3P 1.6TS (105ch),MAL1301JP330,1301JP330,1301J330,937AXA1A00B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN
2,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JY276,1302JY276,1302J276,937BXA1A05,ES,7,77.0,M 5,11.1,6.3,8.1,192.0,NaN,NaN
3,NaN,ALFA-ROMEO,147 5P 1.6TS (105ch),MAL1302JU333,1302JU333,1302J333,937BXA1A05B,ES,7,77.0,M 5,11.3,6.4,8.2,196.0,NaN,NaN
4,NaN,ALFA-ROMEO,147 3P 1.6TS (120ch),MAL1401JW266,1401JW266,1401J266,937AXB1A01,ES,8,88.0,M 5,11.2,6.4,8.2,194.0,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GROUPE             0 non-null      float64
 1   MARQUE             5183 non-null   object
 2   MODELE VERSION     5183 non-null   object
 3   CNIT               5183 non-null   object
 4   Unnamed: 4         5183 non-null   object
 5   Unnamed: 5         5183 non-null   object
 6   MINE               5183 non-null   object
 7   ENERGIE            5183 non-null   object
 8   puissance fiscale  5183 non-null   int64
 9   puissance reelle   5183 non-null   float64
 10  bv                 5183 non-null   object
 11  urb                5176 non-null   float64
 12  ex-urb             5176 non-null   float64
 13  mixte              5176 non-null   float64
 14  CO2                5176 non-null   float64
 15  IMMAT              0 non-null      float64
 16  SEGMENT            0 non-null      float64
dtypes: float64(8), int64(1), object(8)
memory usage: 688.5+ KB

None

,GROUPE,puissance fiscale,puissance reelle,urb,ex-urb,mixte,CO2,IMMAT,SEGMENT
count,0.0,5183.000000,5183.000000,5176.000000,5176.000000,5176.000000,5176.000000,0.0,0.0
mean,NaN,9.813043,104.545070,11.599556,6.742427,8.512983,211.259080,NaN,NaN
std,NaN,5.620609,51.361745,3.937724,1.852866,2.568657,58.664601,NaN,NaN
min,NaN,3.000000,30.000000,3.600000,2.700000,3.000000,81.000000,NaN,NaN
25%,NaN,7.000000,74.000000,8.900000,5.400000,6.700000,169.000000,NaN,NaN
50%,NaN,8.000000,93.500000,10.900000,6.400000,8.100000,202.000000,NaN,NaN
75%,NaN,11.000000,120.000000,13.500000,7.800000,9.800000,243.000000,NaN,NaN
max,NaN,49.000000,405.000000,40.300000,16.200000,25.000000,570.000000,NaN,NaN

['ES' 'GO' 'ES/GN' 'GN/ES' 'ES/GP' 'GN' 'GN/GS' 'GP/ES']